.shows-list {
  a {
    height: 100%;
    margin-top: 30px;
    background-image: url('../images/Curtain.png');
    @include flex(row, flex-start, center);
    text-decoration: none;
    color: $light;
    transition: background-size 0.2s;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;

  }
}

.rails{
  max-width: 230px;
}

.movietittle {
  color: rgb(245, 242, 242);
  padding-top: 1em;
  height: 3em;
  text-align: center;
  font-size: 18px;
}


.thumbnail {
  height: 80%;
  width: 80%;
  border: 10px solid;
  border-radius: 15px;
}


.genres-list {
  background-color: grey;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.genres-list:hover{
  box-shadow: inset 3px 3px lightgrey ;
}

.search {
  color:  gray;
  margin: 10px;
  margin-left: 1px;
  padding: 5px;
  border-radius: 10px;
  border:1px bold rgb(177, 172, 172);
  height: 50px;
  font-size: 20px;
}

.container-fluid{
background-color: white;
}
 