
.shows-single {
  @extend %flex-fill;
  .row {
    flex-grow: 1;
  }
}

.single-detail {
  @include flex(column, left, center);
  padding: 0 5vw;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif, cursive;
  padding-bottom: 3em;
}

.single-image {
  @include bg-center(contain);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

    @media (max-width: 768px){
      .single-image {
        display:none
      }
    }

  .castButton{
    background-color: white;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    width:7em;
    text-align: center;
    color: black;
    margin-bottom: 1em;
    margin-top: 0.5em;
  }

